#!/sbin/openrc-run
  
description="Starts and stops the SoftEther service"

name=$RC_SVCNAME
command="{{ softether_bin_dir }}/vpnserver"
command_args="start"
pidfile="/run/$RC_SVCNAME/$RC_SVCNAME.pid"

depend() {
        need net
}

start_pre() {
        checkpath --directory --owner $command_user:$command_user --mode 0775 \
                /run/$RC_SVCNAME
}